.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chatrooms {
  background-color: #f2dede;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 100px;
  margin: auto;
}

.mainChatwindow {
    height:600px;
    width:100%;
    background-color: #3f3f3e;
    overflow: hidden;
}

.mainChatwindow h3 {
    color: antiquewhite;
}

.connectedUsers {
    height: 60%;
    width: 20%;
    float: left;
    overflow: auto;
    background-color:#cacaca;
}

.chatMessages {
    width: 80%;
    height: 60%;
    float: right;
    background-color:#f9f8f8;
    overflow: auto;
}



.enterMessage {
    width: 100%;
    height: 40%;
    float: right;
    overflow: hidden;
}

.enterMessage input {
    float: left;
    height: 20%;
    width: 87%;
    border-bottom-color: grey;
}

.enterMessage button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.sendMessageButton {
    width: 30%;
    height: 100%
}

.chatMessagesList {
    float: left;
    list-style: none;
    text-align: left;
}


.chatMessages label {
    font-weight: bold;
}

.chatMessages li {
    padding: 10px;
}

.connectedUsers ul {
    float: left;
    list-style: none;
    text-align: left;
}


.connectedUsers li {
    font-weight: bold;
    padding: 10px;
}

.blueNickname {
    color: blue;
}

.redNickname {
    color: red;
}

.purpleNickname {
    color: purple;
}

.errorMessage {
    color: red;
    font-weight:bold;
}